<p id="notice"><%= notice %></p>
<!-- <p> -->
<!-- <% ENV.collect {|k, v| %> -->
<!-- <%= k+"="+v %><br /> -->
<!-- <% } %> -->
<!-- %> -->
<!-- </p> -->
<div id="chart">
<%= high_chart("graph", @graph) %>
</div>
<%= link_to 'Back', :back %>
