<footer class="footer">
  <small>
    <a href="http://localhost:3000/">Tweet Watch</a>
    by SappierBoy
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
