<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Tweet Watch", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <p class="active"><%= link_to "Home",    root_path %></p>
          <p><%= link_to "Help",    help_path %></p>
          <p><%= link_to "Sign in", '#' %></p>
        </ul>
      </nav>
    </div>
  </div>
</header>

